BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120
UseTab: Never
AccessModifierOffset: -4
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty

DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
NamespaceIndentation: All
